<!DOCTYPE html>
<html>
<head>
  <title> Noah Wells - Web Designer, Developer, Pianist</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,600'
  rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id = "main_navigation" class="clearfix">
    <%= link_to "Noah Wells", root_path, class: "name" %>
    <nav class = "cl-effect-5">
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <a href="mailto:noah16077@yahoo.com" data-hover="Contact"><span>Contact</span></a>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

<footer id = "main_footer">
    <p class = "copyright">&copy; 2015 Noah Wells</p>
    <nav>
      <!-- <a href = "#"><i class="fa fa-twitter"></i></a>
      <a href = "#"><i class="fa fa-facebook"></i></a> -->
      <a href = "https://medium.com/@noah_wells" target = "_blank"><i class="fa fa-medium"></i></a>
      <a href = "https://dribbble.com/noahwells" target = "_blank"><i class="fa fa-dribbble"></i></a>
    </nav>
  </footer>
</body>
</html>
